h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
Label,
form,
::placeholder,
input,
button,
Textarea,
p,
table,
th,
td {
  font-family: "Poppins", sans-serif;
  font-size: 14px !important;
}

Label,
form,
::placeholder,
input,
button,
table {
  font-family: "Poppins", sans-serif;
  font-size: 14px !important;
}

html,
body {
  height: 100%;
  overflow: hidden;
}
